.mitte {
    padding: 90px;
}

#navi {
    background-color: #93AC69;
}

.navbar {
    color: white;
    font-family: Baskerville;
}
a:link, a:visited, a:active{
    color:white;
}
.mitte {
    padding: 90px;
}

.btn-primary, .btn-primary:hover{
    background-color: #76B608;
    border-color: #76B608                    ;
}