.mitte {
    padding: 90px;
}

#navi {
    background-color: #93AC69;
}

.navbar {
    color: white;
    font-family: Baskerville;
}
a:link, a:visited, a:active{
    color:white;
}
.mitte {
    padding: 90px;                                                                                                                          
}

.btn-primary, .btn-primary:hover{
    background-color: #76B608;
    border-color: #76B608                    ;
}

.custom-control:checked {
    background-color: #76B608;
}

/*Startseite*/

.container img {
    width: 140%;
    height: 370px;
    margin-left:-246px;
    margin-right:-500px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.btn3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #76B608;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.footer {

    position: running(custom_ident);
    left: 0;
    bottom: 0px;
    width: 100%;
    height: max-content;
    background-color: #899770;
    font-family: "Baskerville Old Face";
    font-size: x-large;
    text-align: center;
    padding-bottom: 20px

}
.nav-list-one{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.nav-list-two{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list-four{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list-six{
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: -15px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #76B608;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



